.movie-container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.movie{
    display: flex;
    width: 30%;
    flex-direction: column;
    margin: 0 0 2rem;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0.2rem;
    background:#212020;
}

.movie__image{
    height: 18rem;
    object-fit: cover;
    //border-radius: 50%;
    //border: #B68F40 3px solid;
    //margin: 1rem;
}

.movie__title{
    color: #B68F40;
    font-size: 1.8rem;
    margin: 0;
}

.movie__details{
    padding: 5%;
    align-self: flex-end;
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    height: 100%;
    justify-content: space-evenly;
}